<h1>Transactions</h1>

<% if @transactions.size.zero? %>
  <p>No transactions created yet</p>
<% else %>
  <%= render partial: "list", locals: {transactions: @transactions} %>
<% end %>
<br>

<button class="btn btn-default" onClick="location.href='<%= new_transaction_path  %>'; return false;">New Transaction</button>
