<h1>Members</h1>

<% if @members.size.zero? %>
  <p>No members created yet</p>
<% else %>
  <%= render partial: "list", locals: {members: @members} %>
<% end %>

<br>

<%= link_to 'New Member', new_member_path %>
